<div class= "chat-header">
  <div class= "chat-overview">techroom1</div>
  <div class= "chat-finish">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class= "chat-messages">
  <!--メッセージ１-->
  <div class= "user-date">
    <div class= "name">Tom </div>
    <div class= "date">2023/03/05(Sun) 11:59:11</div>
  </div>
  <div class= "message-date">
    <div class= "message">おはよう</div>
  </div>
  <!--メッセージ２-->
   <div class= "user-date">
    <div class= "name">Jon </div>
    <div class= "date">2023/03/06(Mon) 11:59:11</div>
  </div>
  <div class= "message-date">
    <div class= "message">こんにちは</div>
  </div>
</div>

<div class= "chat-form">
<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
       <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>